.ease-in{
  position: relative;
  animation: move 5s ease;
  animation-name: example ;
  animation-duration: 3s ;  
  animation-fill-mode: forwards ;
  animation-iteration-count: infinite;

  height: 100px;
  margin-left: 50px;
  padding: 0;
  
}

@keyframes example {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes example1 {
    from {top: 200px;}
    to {top: 0px;}
}